<%= form_with(model: goodbye) do |form| %>
  <% if goodbye.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(goodbye.errors.count, "error") %> prohibited this goodbye from being saved:</h2>

      <ul>
        <% goodbye.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
