<p style="color: green"><%= notice %></p>

<h1>Goodbyes</h1>

<div id="goodbyes">
  <% @goodbyes.each do |goodbye| %>
    <%= render goodbye %>
    <p>
      <%= link_to "Show this goodbye", goodbye %>
    </p>
  <% end %>
</div>

