<p style="color: green"><%= notice %></p>

<%= render @goodbye %>

<div>
  <%= link_to "Edit this goodbye", edit_goodbye_path(@goodbye) %> |
  <%= link_to "Back to goodbyes", goodbyes_path %>

  <%= button_to "Destroy this goodbye", @goodbye, method: :delete %>
</div>
